.photo-grid {
  margin: 92px auto 0 auto;
}

@media screen and (max-width: 1010px) {
  .photo-grid {
    margin-top: 88px;
  }
}

@media screen and (max-width: 760px) {
  .photo-grid {
    margin-top: 64px;
  }
}
