.cover__subtitle {
  position: relative;
  z-index: 3;
  width: 360px;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
  margin: 32px auto 0;
}

@media screen and (max-width: 760px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    width: 288px;
    margin-top: 16px;
  }
}
