.place__paragraph {
  font-size: 18px;
  line-height: 29px;
  margin: 0 0 26px 0;
  padding: 0;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1010px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 760px) {
  .place__paragraph {
    font-size: 16px;
    padding: 0 16px;
  }
}
